@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #EAEAF3;
  --black: #3D4048;
}

.regular {
  font-family: degular, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.italic {
  font-family: degular, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.medium {
  font-family: degular, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.semibold {
  font-family: degular, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-family: degular, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bold-italic {
  font-family: degular, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.black {
  font-family: degular, sans-serif;
  font-weight: 800;
  font-style: normal;
}

body.dark {
  background: var(--black);
  color: var(--white);
}

.center {
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}

#hero-text1,
#hero-text2 {
  position: absolute;
  display: inline-block;
}
